<section>
  <div>
    <h2>CSS Test Page</h2>
    <p>This page contains all visual elements styled with CSS. This is useful for
    evaluating the impact of CSS changes.</p>

    <h2>Headline 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pulvinar ligula nisi. Morbi venenatis viverra eros et placerat. Morbi tristique massa et mattis vehicula. Aenean vestibulum odio sed consequat mattis. In egestas tristique arcu eget malesuada. Praesent volutpat ultrices tincidunt. Suspendisse neque sem, vestibulum id dolor a, bibendum rhoncus justo. Proin lobortis vestibulum lobortis. Quisque laoreet ornare turpis, et commodo arcu auctor eget. Nulla facilisi. Nam imperdiet erat ut diam lacinia, et luctus metus tempor.</p>

    <h3>Headline 3</h3>
    <p>Duis at neque enim. Ut sit amet faucibus velit. Vivamus eget erat imperdiet, rutrum nulla et, vehicula metus. Donec vulputate enim eu iaculis varius. Nullam sit amet ultrices nisi, non feugiat massa. Etiam interdum lorem nec tincidunt pellentesque. Donec facilisis massa vitae vestibulum posuere. Nulla adipiscing nunc neque, ut varius purus euismod a. Vivamus venenatis dignissim augue sed imperdiet. Ut eu leo et elit gravida consectetur. Morbi ut tincidunt mi.</p>

    <h4>Headline 4</h4>
    <p>Sed tristique fringilla scelerisque. Aenean laoreet, risus in aliquam pharetra, eros dui vehicula elit, ut tincidunt elit justo et mauris. Aliquam accumsan, est a tempus adipiscing, diam felis placerat mauris, ut dictum enim tortor nec diam. Donec a gravida eros. Nullam quis mauris lobortis elit aliquet semper et id nibh. Suspendisse eu lacus ut lectus tristique elementum. Sed eget leo euismod, hendrerit erat et, tincidunt libero. Maecenas congue dictum rutrum. Morbi eu ante in tortor iaculis auctor. Sed ultrices, elit id tempor malesuada, nibh eros viverra quam, eu ullamcorper est lacus non libero. Cras in vehicula est, quis ornare est. In tincidunt felis ipsum, vulputate faucibus justo gravida a. Aenean pharetra enim ac rutrum volutpat. Integer at varius urna. Duis ut pulvinar velit. Pellentesque faucibus dapibus mattis.</p>

    <h5>Headline 5</h5>
    <p>Nulla fringilla commodo arcu nec consequat. In elit nunc, dignissim ut massa ut, posuere hendrerit libero. Nulla ullamcorper pellentesque risus, sed tempor odio commodo quis. Nulla in metus lacus. Curabitur est velit, ornare vel mi ut, dapibus vestibulum orci. Duis ullamcorper dolor nec sem iaculis placerat. Nulla elementum, lectus a porta rutrum, nisl metus convallis tortor, ut auctor massa mauris eget felis. Ut feugiat vestibulum justo ut ultrices. Etiam lobortis elit sapien, quis accumsan tellus aliquet non. Vestibulum in lectus nisl. Proin iaculis leo metus, sit amet blandit arcu gravida sed. In hac habitasse platea dictumst. Phasellus lobortis sapien varius augue hendrerit aliquet eu in lacus. Pellentesque volutpat sollicitudin ultrices. Duis vulputate enim nec nisi tincidunt tempus. Nam auctor massa vel justo sodales, in gravida purus viverra.</p>

    <h6>Headline 6</h6>
    <p>In a quam ac diam facilisis posuere. Vivamus tempor et elit ac bibendum. Vivamus nec feugiat nisl. Phasellus eget ornare nulla. Praesent in fringilla nisi. Mauris ullamcorper posuere eros, eget pretium diam cursus sed. Praesent posuere ligula eget leo consequat, ac convallis enim facilisis. Mauris gravida, odio vitae tempus dignissim, tellus quam facilisis diam, ac condimentum sem lacus nec urna. Nulla mattis leo eget arcu pharetra hendrerit.</p>

    <h2>Hierarchy</h2>
    <ul class="hierarchy">
      <li>Level 1</li>
      <li>Level 2</li>
      <li>Level 3</li>
      <li>Level 4</li>
      <li>Level 5</li>
      <li>Level 6</li>
    </ul>

    <h2>Table</h2>
    <table>
      <thead>
        <tr>
          <th>Row</th>
          <th>Lorem</th>
          <th>ipsum</th>
          <th>dolor</th>
          <th>sit</th>
          <th>amet</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>consectetur</td>
          <td>adipiscing</td>
          <td>Nulla</td>
          <td>fringilla</td>
          <td>commodo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>arcu</td>
          <td>nec</td>
          <td>consequat</td>
          <td>In</td>
          <td>elit</td>
        </tr>
        <tr>
          <td>3</td>
          <td>nunc</td>
          <td>dignissim</td>
          <td>ut</td>
          <td>massa</td>
          <td>ut</td>
        </tr>
        <tr>
          <td>4</td>
          <td>posuere</td>
          <td>hendrerit</td>
          <td>libero</td>
          <td>Nulla</td>
          <td>ullamcorper</td>
        </tr>
        <tr>
          <td>5</td>
          <td>pellentesque</td>
          <td>risus</td>
          <td>sed</td>
          <td>tempor</td>
          <td>odio</td>
        </tr>
        <tr>
          <td>6</td>
          <td>commodo</td>
          <td>Nulla</td>
          <td>in</td>
          <td>metus</td>
          <td>lacus</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
