<style>

svg {
  font: 0.8em sans-serif;
}

path {
  fill: #eee;
}

.axis path,
.axis line {
  fill: none;
  stroke: darkgrey;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

</style>

<section class="time">
  <div>
    <h2>Day</h2>
    <p>D3 Experiment ahead</p>
    <svg/>
    <ol class="chain">
      <li>Foo</li>
      <li>Bar</li>
      <li>Lol</li>
    </ol>
  </div>
</section>
<script type="text/javascript" src="/js/quantastic.js"></script>
<script type="text/javascript" src="/js/models/domain.js"></script>
<script type="text/javascript" src="/js/views/main.js"></script>
